{% extends 'base.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
    <ol class="breadcrumb"></ol>
    <div>Извините, но такой страницы нет:(</div>
    <div><a href="{{ path('main') }}">На главную</a>
{% endblock %}

