{% extends 'base.html.twig' %}

{% block title %}Заявка{% endblock %}
{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Пудинг с омелой</a></li>
            <li class="breadcrumb-item">Заявка</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="preface">Спасибо! Ваша заявка отправлена мастерам</div>
{% endblock %}
